<script type="text/javascript" src="ozone-notifications.js"></script>
<link rel="stylesheet" href="ozone-notifications.css">
<div id="ozone-notifications" class="ozone-notifications">
	<div class="content-header">
        <p>Notifications</p>
        <a id="ozone-notifications-close" class="close-menu icon-cross-3"></a>
    </div>
    <div class="placeholder-text-container">
        <i class="icon-warning"></i>
        <p class="placeholder-text">You currently have no notifications</p>
    </div>
</div>