ozone-collection div.ozone-collection-layover {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 6500;
	background-color: rgba(3, 5, 10, 0.7);
	/*opacity: 0.15;*/
}

ozone-collection div.ozone-collection-content {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 400px;
	width: 750px;
	z-index: 6501;
	background-color: rgba(3, 5, 10, 0.6);
	border: 1px solid #18b9e8;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.ozone-collection-content .content-header {
    text-align: left;
    top: 25px;
}

.ozone-collection-content .content-header a.close-menu {
    top: 7px;
    right: 35px;
}

.folder-name-wrapper input {
    display:none;
}

.folder-name-wrapper.ozone-folder-name-edit input {
    display: inline-block;
    background: #0f0f0f;
    border: none; 
    padding: 0 0 0 15px;
    font-size: 15px;
    font-family: 'Quicksand-Book';
    color: #acacac;
    height: 100%;
    border: 1px solid #666666;
    width: 300px;
}

h1.ozone-collection-name {
    display: inline-block;
    color: #acacac;
    font-size: 15px;
    padding: 7px 0 0 15px;
    border: 1px solid transparent;
}

.ozone-folder-name-edit h1.ozone-collection-name {
    display: none;
}
 
.folder-name-wrapper {
    float: left;
    margin-left: 30px;
    padding: 1px 0 0 0;
    height: 31px;
    background: transparent;
}

.collection-modal .app-grid .apps-tab {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 95%;
}

.collection-modal .application-container {
    width: 23%;
}

.ozone-apps-appcontainer {
    overflow: visible; /* For dragging apps out of collection */
}