<script type="text/javascript" src="ozone-apps-appinfo.js"></script>
<link rel="stylesheet" href="ozone-apps-appinfo.css">

<script type="text/template" id="appinfo-tmpl">
<div class="application-container">	
    <div class="application-info">
        <input type="checkbox" id="favCheckbox" name="cc" />
        <label class="favorite-toggle" for="favCheckbox"><span class="icon-bookmark"></span></label>
    	<a><img /></a>
        <button name="appDelete"><i class="icon-minus"></i></button>
        <h1></h1>
        <div class="rating">
        	<span class="icon-star rating-active"></span>
            <span class="icon-star rating-active"></span>
            <span class="icon-star rating-active"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
        </div>
    </div>                                
</div>
</script>
